body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: rgb(51, 145, 246);
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* position: fixed; */
    width: 100vw;
    height: 50px;
    top: 0px;
}

/* li {
    float:;
} */

.nav {
    display: flex;
    position: fixed;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}

.section1 {
    display: flex;
    width: auto;
    height: 500px;
    padding-top: 50px;
    background-color: green;
    margin-bottom: 0px;
}

.section2 {
    display: flex;
    width: auto;
    height: 500px;
    background-color: yellow;
    margin-bottom: 0px;

}

.section3 {
    display: flex;
    width: auto;
    height: 500px;
    background-color: red;
    /* margin-bottom: 0px; */
}

.section4 {
    display: flex;
    width: auto;
    height: 500px;
    background-color: orange;
    /* margin-bottom: 0px; */
}

p {
    display: flex;
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin: auto;
    font-size: 25px;
    color: white;
    
}